@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/images/deserto.jpg'); /* Caminho para a imagem do deserto */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
    font-family: 'Pirata One';
    src: url('/fonts/PirataOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  